---
- name: Wait for system to become reachable
  wait_for_connection:
    timeout: 300

- name: install pip
  yum:
    name:
      - "epel-release"
      - "python2-pip"
    state: present

- name: install docker repo file
  get_url:
    url: "{{ DOCKER_REPO_FILE_PATH }}"
    dest: "{{ YUM_TARGET_REPO_FOLDER }}"
    mode: 0644

- name: install docker gpg file
  get_url:
   url: "{{ DOCKER_GPG_FILE_PATH }}"
   dest: "{{ GPG_TARGET_FOLDER }}"
   mode: 0644

- name: install docker-ce
  yum:
    name:
      - "docker-ce-{{ DOCKER_VERSION }}"
    state: present

- name: Make sure docker service is running & enabled
  systemd:
    enabled: yes
    state: started
    name: docker

- name: Install docker-compose
  get_url: 
    url : https://github.com/docker/compose/releases/download/{{ DOCKER_COMPOSE_VERSION }}/docker-compose-Linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: 'a+x'

- name: Install dependent docker python modules
  pip:
    name: ['docker-py']
    state: present

# - name: Deploy docker compose
#   docker_compose:
#     project_src: "."
#     files:
#       - "docker-compose.yml"
#     state: present

- name: Create a data container
  docker_container:
    name: nginx
    image: nginx:latest
    hostname: nginx1
    ports:
      - 80:80
